<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Api</title>
    <style>
        h1 {
            padding: 10px;
            text-align: center;
            text-transform: capitalize;
        }
    </style>
</head>

<body>
    <h1>Welcome To Blog Api</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cum est, unde omnis et molestiae ipsa sequi nam
        optio quae. Veniam doloribus repellendus nam sequi autem expedita amet harum corrupti magnam vitae dignissimos
        distinctio iure tempora incidunt natus esse optio blanditiis assumenda, maxime tempore. Veniam consequatur cum
        nostrum esse odit voluptatum dolores adipisci illum aperiam, harum quis repellat quod corporis temporibus
        incidunt doloribus omnis, inventore sit saepe deserunt suscipit tempora repudiandae consequuntur. Eligendi minus
        architecto praesentium facere blanditiis voluptas quo illum possimus odit quisquam rem eos optio necessitatibus
        quae, beatae officiis aut ipsam. Est dolore nihil maiores libero corrupti aperiam facilis provident, mollitia
        similique voluptate officia. Magni, recusandae? Labore ex eius blanditiis hic, officiis, dignissimos tempora
        aliquid error accusamus reiciendis molestias cumque, maxime minus facilis reprehenderit. Corporis ipsum ipsam
        accusantium nobis et molestias! Architecto optio quo obcaecati. Nostrum sequi architecto suscipit! Laborum cum
        nesciunt quo similique doloremque? Tenetur iure laborum eos, quibusdam dignissimos, autem neque consequatur in
        porro deserunt laudantium dolorem ipsum perferendis! Quam, rem ea aut exercitationem veniam fugiat earum quos
        ipsa quibusdam et quod debitis voluptatibus ducimus quisquam nam, tempora dolorem suscipit maxime illo natus
        porro. Quidem earum, tempore ad harum eius ex. Veniam sed numquam sint laudantium?</p>
</body>

</html>